{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-bottom:100px;">
    {% if not cart %}
    <div>
        <h1 class="text-center">Cart is empty</h1>
        <strong><a href="{% url 'shop:allprodcat' %}">Continue Shopping</a></strong>
    </div>
    {% else %}


    <div class="row">
        <h1 class="text-center">Shopping Cart</h1>
        <div class="col-sm-6">
            <table class="table table-bordered" style="border:2px solid gray;">
                <tr>
                    <th colspan="5" class="text-center">Cart Items</th></tr>
                {% for i in cart %}
                <tr>
                    <td><img src="{{i.products.image.url}}" height="100px" width="100px"></td>
                    <td><strong>{{i.products.name}}</strong></td>
                    <td><p><strong>ProductId:</strong>{{i.products.id}}</p>
                        <p><strong>Unit Price:</strong>{{i.products.price}}</p>
                        <p><strong>Quantity:</strong>{{i.quantity}}*{{i.products.price}}</p>
                                      </td>
                    <td>SubTotal:{{i.subtotal}}</td>
                    <td>
                        {% if i.quantity < i.products.stock %}
                        <a href="{% url 'cart:add_cart' i.products.id %}"><i class="fa-solid fa-circle-plus"></i></a>
                        <a href="{% url 'cart:cart_remove' i.products.id %}"><i style="color:red" class="fa-solid fa-circle-minus"></i></a>
                        <a href="{% url 'cart:delete_cart' i.products.id %}"><i style="color:red" class="fa-solid fa-trash"></i></a>
                        {% else %}
                        <a href="{% url 'cart:cart_remove' i.products.id %}"><i class="fa-solid fa-circle-minus"></i></a>
                        <a href="{% url 'cart:delete_cart' i.products.id %}"><i class="fa-solid fa-trash"></i></a>
                        {% endif %}

                    </td>
            </tr>{% endfor %}</table></div>
        <div style="position:relative;" class="col-sm-6 col-lg-6 col=-xs-6 col col-md-6"><table class="table table-bordered" style="border:2px solid gray;">
            <th colspan="5" class="text-center">Checkout</th>
              </tr>
          <tr>  <th class="text-center">TOTAL PRICE:{{total}}</th>
            </tr>
        </table>
        <a href="{% url 'shop:allprodcat' %}" class="btn btn-secondary">Continue shopping</a>
            <a href="{% url 'cart:orderform' %}" style="position:absolute;right:0;" class="btn btn-secondary">Place Order</a></div>
    </div>

    {% endif %}

{% endblock %}