{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container" style="margin-bottom:100px;">
    <div class="row">
        <h5 class="text-center">Name of the Customer:{{name}}</h5>
        {% for i in o %}
        <div class="col-sm-5 py-3" style="border:2px solid gray">
          <center><img src="{{i.products.image.url}}" height="200px" width="200px"></center>
        </div>
        <div class="col-sm-7 py-3 text-center" style="border:2px solid gray">
            Delivery Address :{{i.address}}<br>
            Phone number :{{i.phone}}<br>
            {{i.products.name}}<br>
            {{i.products.price}}<br>
            Quantity Ordered:{{i.noofitems}}<br>
            Subtotal:{{i.subtotal}}<br>
            <strong class="text-primary">Ordered on {{i.date_added}}</strong><br>
            <strong class="text-success">Delivery status :{{i.delivery_status}}</strong>
    </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
